body {
    width:      100%;
    height:     100%;
    min-width:  300px;
    padding:    0px;
    margin:     0px;
    border:     0px;
    background: white;
    text-align: center;
    font-family:Lato, Century Gothic, Arial, Helvetica, sans-serif;
}

#footer {
    position:   fixed;
    width:      100%;
    bottom:     0px;
    height:     20px;
    color:      white;
    background: black;
    text-align: center;
    margin:     0px;
    padding:    0px;
    left:           0px;
}
#footer ul, #footer ul li {display: inline;}

#footer a {
    display:    inline-block; 
    width:      24%;
    margin:     0px;
    padding:    0px;
    color:      white;
    clear:      none;
    text-decoration: none;
}

#footer a:hover {
    background: #546DAF;
    text-decoration: none;
}

ul.socialBookmarks {  padding: 0px; }
ul.socialBookmarks {
  display:      block;
  padding-left: 0px;
  margin-left:  0px;
  text-align:   center;
  border-top:   solid 1px black;
  list-style-type: none;
}
.socialBookmarks li { display: inline; margin: 0px 5px;}
/* remove top-border from tooltip */
.tooltip .socialBookmarks { border-top: none; }

.socialBookmarklet { border: 0px solid black; }

img.socialBookmarklet {
   padding: 5px;
  width:   24px;
}

.screenreader-only {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}