/* Some global settings */
html, body, .EntryHeader{	min-width:		300px; }
html, body, h1, h2, #header, #fileInfo, #toolbar *, #defn, #footer, #inter, input, form{
  padding:		0px;
  font-family: Lato, Century Gothic, Arial, Helvetica, sans-serif;
  margin:			0px;
  font-weight: lighter;
}

body{background: url(images/bootBG.png) no-repeat fixed white; background-position: bottom right; width: 100%;}
.form {
  display: inline-block;
}

.screenreader-only {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

/* 65px: LOGO AND TITLE */
.header{
  position:		fixed;
  top:			0px;
  width:			100%;
  height:			65px;
  background:		url(images/icon-trans.png) no-repeat black;
  z-index:		5;
  color: white;
}
.h1{
  font-size: 38px;
  padding-left: 65px;
}

.h2{
  font-size: 14px;
  font-style: italic;
  padding-left: 65px;
  color: lightgray;
}

/* 20px: TOOLBAR, BUTTONS, ETC */
#toolbar{
  width:			100%;
  height:			20px;	/* leave room for the border */
  background:		#B6D990;
  clear:			both;
  position:		fixed;
  top:			65px;
  color:			black;
  z-index:		5;
}

#toolbar ul{
  clear:			both;
  list-style-type:none;
}

#toolbar li.start{
  float:			left;
  width:			210px;
  text-align:		left;
  clear:			right;
}


#toolbar li.logout{
  float:			right;
  width:			125px;
  text-align:		center;
  background-repeat: no-repeat;
  background-position: 0 50%;
  clear:			right;
}


#toolbar li a, #toolbar li a:visited, #toolbar li input{
  display:		block;
  color:			black;
  width:			100%;
  text-decoration:none;
  font-size:		14px;
  background:		none;
  border:			0px;
  height:			20px;
}
#toolbar li.start a{padding-left: 65px;}

#toolbar li a:hover, #toolbar li input:hover{
  background: rgb(117, 50, 138);
  color:      white;
  cursor:			pointer;
}




/* tooltips */

.tooltip {
  background: white;
  border: solid 1px black;
}




a:hover {background:transparent;} /*BG color is a must for IE6*/
a span {display:none; width: 130px; text-align: left;}
a:hover span{display: inline; position: absolute; background:rgb(117, 50, 138); color: white; }

/* flex: PROGRAM LIST */
div#programList{
  position:		absolute;
  top:			85px;
  width:			100%;
}

#programList ul{
  margin:			0px;
  padding:		0px;
}

#programList ul li{
  display:		block;
  list-style:		none;
  float:			left;
  z-index:		0;
}

.ProgramTitle, .ProgramModified, .ProgramPublished{
  display:		inline-block;
  border:			0px;
  background:		none;
}


.EntryHeader{font-weight: bold; font-size: 12px; border-bottom: 1px black solid; width: 100%; padding: 5px 0px; margin-top: 20px;}
li.ProgramEntry{line-height: 24px;  padding: 5px 0px; width: 100%;}
li.ProgramEntry:hover{ background: rgb(117, 50, 138);}
li.ProgramEntry:hover * { color: white;}


.ProgramTitle{width: 40%; min-width: 250px; margin-left: 65px; cursor: pointer; font-size: 16px; text-align: left;}
.ProgramId{width: 100px;}
.ProgramModified{text-align: left; width: 175px;}
.ProgramPublished{width: 50px; text-align: center;}
.ProgramPublished img.button {width: 18px; height: 18px; cursor: pointer; position: relative}
.ProgramDelete{width: 50px; text-align: center;}
.ProgramDelete img.button {width: 18px; height: 18px; cursor: pointer;}
input.ProgramModified{cursor: pointer; font-size: 16px; text-align: left;}

/* Link Sharing Box */
div.sharebox{
  width:		300px;
  background: white;
  border:		solid 2px black;
  color:		black;
  text-align: left;
  padding:	10px;
  font-size:	12px;
  position:	absolute;
  left:		530px;
  z-index:	5;
  display:	none
}
div.sharebox input{width: 100%; border: solid 1px black;}
ul.linkslist{margin: 0px; width: 300px;}
ul.linkslist li{width: 120px; float: left; margin: 2px 15px;  border-top: dotted 1px black;}
ul.linkslist li:hover{background: #eee; border-top: solid 1px black;}
a.digg{background: url(images/icon_digg.gif) no-repeat; padding-left: 25px;}
a.reddit{background: url(images/icon_reddit.gif) no-repeat; padding-left: 25px;}
a.facebook{background: url(images/icon_facebook.gif) no-repeat; padding-left: 25px;}
a.delicious{background: url(images/icon_delicious.gif) no-repeat; padding-left: 25px;}
a.twitter{background: url(images/icon_twitter.gif) no-repeat; padding-left: 25px;}
a.email{background: url(images/icon_email.gif) no-repeat; padding-left: 25px;}

img:hover+div, #programList ul li img+div:hover{display: inline-block; }



ul.socialBookmarks{
  display: block;
  padding-left:  0px;
  text-align: center;
  border-top: solid 1px black;
  list-style-type: none;
}
.socialBookmarks li { display: inline; }
/* remove top-border from tooltip */
.tooltip .socialBookmarks{border-top: none;}

a.socialBookmarklet {
  border: 0px solid black;
}

img.socialBookmarklet {
  border: 0px solid black;
  padding: 5px;
  width:   24px;
}


a.headerlink {
  color: black;
  text-decoration:none;
}


@media only screen and (max-width: 600px), only screen and (max-device-width: 600px){
  .ProgramModified{display: none;}
  .ProgramTitle{width: auto; min-width: 200px;}
}
