/*******************************************
  PrettyPrint Compiler Output
  - style using float: left, to allow text-alignment flow
  - everything has a left-padding of 10px, which provides spacing and indenting
  - if an expr is wrapped, every element clears left
*/

.replOutput * {float: left; padding-left: 10px;}
.replOutput br{float: none;}
.wrapped > * {clear: left;}

/* Rationals, Parens, and first child after lParen NEVER have padding or clearing */
.Rational *, .lParen, .rParen, .lParen+*{padding-left: 0px; clear: none;}

/* for IE, in which Canvases actually have children */
canvas.replOutput * {padding-left: 0px; clear: none;}
/************************************************
Define coloring for basic WeScheme types, and re-use them for our CM instances 
*/
.wescheme-string,     .cm-scheme-string    {color: green;}
.wescheme-number,     .cm-scheme-number    {color: blue;}
.wescheme-boolean,    .cm-scheme-boolean   {color: darkred;}
.wescheme-character,  .cm-scheme-character {color: orange;}
.wescheme-symbol,     .cm-scheme-symbol    {color: steelblue;}
.wescheme-comment,    .cm-scheme-comment   {color: orange; }
/* CM-only stuff */
span.cm-scheme-punctuation                 {color: black;}
span.cm-scheme-rparen                      {color: black;}

/***********************************************
 Circle of Evaluation and Code styling
 */

#circlesEditor, .sexp{display: inline-block; font-family: monospace; font-size: 13px; }
#circlesEditor>.cm-whitespace {display: block;}

/* spacing between elements */
.circles .sexp>* {margin-right: 8px;}
.circles .sexp>.lParen, .circles .sexp>*:nth-last-child(2){margin-right: 0px; clear: none;}

.circles .sexp>.lParen, .circles .sexp>.rParen{display: none;}
.circles .sexp>.sexp{margin: 3px;}
.circles .sexp{
  margin:         5px;
  clear:          none;
  border:         2px solid black;
  cursor:         move;
  text-align:     center;
  border-radius:  20px;
  min-height:     50px;
  min-width:      40px;
  vertical-align: top;
  background-image: url('operatorBG.png');
  background-repeat: repeat-x;
}
.code .sexp{display: inline; max-width: 100%;}

.circles .sexp>*{
  margin:         0px;
  min-height:     20px;
  vertical-align: top;
}

.circles .sexp>*:nth-child(2){
  text-align:     center;
  color:          white;
}
.value{
  display:        inline;
  transition:     min-width .2s;
  border-radius:   8px;
  cursor:         pointer;
  line-height:    25px;
}

.circles .value{text-align: center; min-width: 10px; max-width: 150px; border: solid transparent 2px;}
.code .value{max-width: inherit; display: inline; line-height: inherit;}

.circles .sexp>:nth-child(2):after{ content:'\A'; }
.circles .sexp>.cm-whitespace:nth-child(2){ line-height: 20px; }

.circles .cm-whitespace{
  min-width:      10px;
  display:        inline-block;
  transition:     min-width .2s;
  cursor:         pointer;
}

.sexp, .value{
  word-wrap:      break-word;
  white-space:    pre-wrap;
  word-break:     normal;
}

.circles .cm-whitespace{ white-space: pre-line; min-width: 10px; vertical-align: middle;}

.lineBreak{display: block;}
.circles .lineBreak{display: none;}
.code .cm-whitespace{min-width: 0px; height: inherit; min-height: none; vertical-align: bottom;}
.editing, .insert, .replace, .circles .sexp .cm-whitespace:hover{ min-width: 20px; border-radius:  5px;}
.circles .cm-whitespace+.lineBreak+.cm-whitespace{display: none;}
.circles .sexp .cm-whitespace:hover, .insert{background: lightblue;}
.replace{background: red;}
.code :focus, .circles :focus{outline:none; border: solid 2px orange; border-radius:  20px;}


.circles .patched{background: pink;}
