@font-face{font-family:'Google Sans';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owps.ttf)format('truetype');}

h1 {
	text-align:	center;
	width:		100%;
	font-size: 60px; 
	margin-bottom: 0px;
}

img{background: none; vertical-align: middle; width: 40%; max-width: 450px;}

#links {
       margin-top: 1.5em;
       margin-bottom: 1.5em;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
  a.button{font-size: 14px; width: 100px;}
}

#loginButton { border: none; }
#startCoding { height: 38px; line-height: 38px; margin-top: 18px; }
.button, .buttonText {
    text-align: center;
    vertical-align: middle;
    border:     solid 1px #dadce0;
    border-radius:  4px;
    background: white;
    font-size:  14px;
    font-family:'Google Sans',arial,sans-serif;
    font-weight: 500;
    letter-spacing:  0.25px;
    min-width:  240px;
    height:     22px;
    cursor:     pointer;
    display:    inline-block;
    position:   relative;
    text-decoration: none;
    color:      #3c4043;
}
.button>span.tooltip{ position: absolute; top: 44px; left: 0px; font-size: 14px; opacity: 0; line-height: 16px;};
.button:hover { background: gray; }
.button:hover>span.tooltip{ opacity: 0.5; };

