/* Some global settings */
html, body, .EntryHeader{	min-width:		300px; text-align: left;}
html, body, h1, h2, #header, #fileInfo, #toolbar *, #defn, #footer, #inter, input, form{
  padding:		  0px;
  font-family:  Lato, Century Gothic, Arial, Helvetica, sans-serif;
  margin:			  0px;
  /* font-weight:  lighter; */
}

body{background: url(/static/img/bootBG.png) no-repeat fixed white; background-position: bottom right; width: 100%;}
.form {
  display: inline-block;
}

.screenreader-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* 65px: LOGO AND TITLE */
.header{
  position:		 fixed;
  top:			   0px;
  width:			 100%;
  height:		   65px;
  background:	 url(/static/img/icon-trans.png) no-repeat black;
  z-index:	   5;
  color:       white;
}
.h1{
  font-size: 38px;
  padding-left: 65px;
}

.h2{
  font-size: 14px;
  font-style: italic;
  padding-left: 65px;
  color:        white;
}

/* 20px: TOOLBAR, BUTTONS, ETC */
#toolbar {
  width:			100%;
  height:			20px;	/* leave room for the border */
  background:		#B6D990;
  clear:			both;
  position:		fixed;
  top:			  65px;
  color:			black;
  z-index:		5;
  /* font-weight: lighter; */
}
#toolbar *{
  padding:    0px;
  margin:     0px;
  font-family:Lato, Century Gothic, Arial, Helvetica, sans-serif;
}
#toolbar ul { list-style-type:none; }
#toolbar ul li { display: inline-block; width: 250px;}
#toolbar ul li > * { display: inline-block; width: 180px; height: 20px}
#toolbar ul li > *:hover {
  background:   rgb(117, 50, 138);
  color:        white;
  cursor:       pointer;
}

#start a {
  text-align:  left;
  padding-left: 40px;
}
#bootstrapFiles span {
  text-align: center;
  padding: 0px 10px; 
}
#logout { float: right; text-align: center;}
#logout * {width: 180px;}
#logout:hover *{color: white;}

#toolbar *, #toolbar a:visited {
  color:        black;
  text-decoration:none;
  font-size:    14px;
  background:   none;
  border:       0px;
}

#toolbar ul li #bootstrapFileList {
  position:     absolute;
  background:   #B6D990;
  height:       auto;
  display:      none;
}
#bootstrapFiles:hover #bootstrapFileList, 
#toolbar .hovered+#bootstrapFileList {
  position:     absolute;
  display:      block;
  width:        194px;
  padding:      3px;
}
#bootstrapFileList li { padding: 1px 0px; } 

/* tooltips */
.tooltip {
  background:   white;
  border:       solid 1px black;
}
/* flex: PROGRAM LIST */
div#programList{
  position:		 absolute;
  top:			   85px;
  width:			 100%;
}
div#programList table{
    border-spacing: 0px; 
    margin-top:     20px; 
    width:          100%;
    min-width:      600px;
    border-collapse:collapse;
}
.ProgramTitle, .ProgramModified, .ProgramPublished{
  border:			  0px;
  background:		none;
}


.EntryHeader{
    font-weight: bold; 
    font-size: 12px; border-bottom: 1px black solid; width: 100%; padding: 5px 0px; margin-top: 20px;}
.ProgramEntry{line-height: 28px;  padding: 5px 0px; width: 100%;}
.ProgramEntry:hover { background: rgb(117, 50, 138);}
.ProgramEntry:hover * { color: white;}


.ProgramTitle{width: 40%; min-width: 250px; font-size: 16px; }
.ProgramTitle span{ margin-left: 65px; }
.ProgramModified{ width: 175px;}
.ProgramPublished, .ProgramDelete{width: 50px; text-align: center; }
img.button {width: 18px; height: 18px; cursor: pointer; position: relative;}

/* Link Sharing Box */
div.sharebox{
  width:		    300px;
  background:   white;
  border:		    solid 2px black;
  color:		    black;
  text-align:   left;
  padding:	    10px;
  font-size:	  12px;
  position:	    absolute;
  left:		      530px;
  z-index:	    5;
  display:	    none
}
div.sharebox input{width: 100%; border: solid 1px black;}
ul.linkslist{margin: 0px; width: 300px;}
ul.linkslist li{width: 120px; float: left; margin: 2px 15px;  border-top: dotted 1px black;}
ul.linkslist li:hover{background: #eee; border-top: solid 1px black;}
a.digg      { background: url(images/icon_digg.gif)     no-repeat; padding-left: 25px;}
a.reddit    { background: url(images/icon_reddit.gif)   no-repeat; padding-left: 25px;}
a.facebook  { background: url(images/icon_facebook.gif) no-repeat; padding-left: 25px;}
a.delicious { background: url(images/icon_delicious.gif) no-repeat; padding-left: 25px;}
a.twitter   { background: url(images/icon_twitter.gif)  no-repeat; padding-left: 25px;}
a.email     { background: url(images/icon_email.gif)    no-repeat; padding-left: 25px;}

img:hover+div, #programList img+div:hover{display: inline-block; }



span.socialBookmarks{
  display:      block;
  width:        100%;
  text-align:   center;
  border-top:   solid 1px black;
}
.socialBookmarks li { display: inline; }
/* remove top-border from tooltip */
.tooltip .socialBookmarks{border-top: none;}
a.socialBookmarklet { border: 0px solid black; }

img.socialBookmarklet {
  border:       0px solid black;
  padding:      5px;
  width:        24px;
}

a.headerlink {
  color:        black;
  text-decoration:none;
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px){
  .ProgramModified{display: none;}
  .ProgramTitle{width: auto; min-width: 200px;}
}
