/*******************************************
  PrettyPrint Compiler Output
  - style using float: left, to allow text-alignment flow
  - everything has a left-padding of 10px, which provides spacing and indenting
  - if an expr is wrapped, every element clears left
*/

.replOutput * {float: left; padding-left: 10px;}
.replOutput br{float: none;}
.wrapped > * {clear: left;}

/* Rationals, Parens, and first child after lParen NEVER have padding or clearing */
.Rational *, .lParen, .rParen, .lParen+*{padding-left: 0px; clear: none;}

/* for IE, in which Canvases actually have children */
canvas.replOutput * {padding-left: 0px; clear: none;}
/************************************************
Define coloring for basic WeScheme types, and re-use them for our CM instances 
*/
.wescheme-string,     .cm-string    {color: green; font-weight: 900;} /* max-bold for strings */
.wescheme-number,     .cm-number    {color: blue; }
.wescheme-boolean,    .cm-boolean   {color: darkred;}
.wescheme-symbol,     .cm-builtin  {color: steelblue;}
.wescheme-character,  .cm-character {color: orange !important;} /* render delimeters in char literals as char */
.wescheme-comment,    .cm-comment   {color: #bd2bbd !important; } /* render delimeters in comments as comments */
.cm-variable                    {color: steelblue;}
/* CM-only stuff */
.cm-punctuation                 {color: black;}
.cm-bracket                     {color: black;}


div.CodeMirror span.CodeMirror-matchingbracket {background-color: lightgray; color: steelblue !important;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {background-color: red; color: black; }