<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <title>WeScheme Editor</title>
    <!-- Tags for on mobile -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="apple-touch-icon-precomposed" href="/css/images/BigLogo.png" />


    <!-- Add compatibility libraries for IE. -->
    <!-- All IE versions <=11 need at least a few polyfills  -->
<script type="text/javascript" src="/js/compat/polyfills-min.js"></script>
<!-- 
	IE 9 fixes:
		* IE9 fix for CM. See https://groups.google.com/forum/#!searchin/codemirror/whitespace/codemirror/xx_GCyYr5sE/dCH2KjBML2gJ 
		* console fix for IE9. See http://stackoverflow.com/a/7742862
-->

<!--[if IE 9]>
    <style> .CodeMirror pre {height: 1em; } </style>
    <script type="text/javascript">
		//Ensures there will be no 'console is undefined' errors
		window.console = window.console || (function(){
		var c = {}; c.log = c.warn = c.debug = c.info = c.error = c.time = c.dir = c.profile = c.clear = c.exception = c.trace = c.assert = function(){};
		return c;
		})();
	</script>
<![endif]-->

<!-- 
	IE 7/8 fixes (unsupported!!!):
	Compatibility for XMLHttpRequest, ExCanvas, and Browser bugs

	Under IE8, excanvas doesn't work unless we get into IE7 standards mode.
    Warning: do NOT put HTML comments within the context of ifdefed code: it breaks badly
    under the iPhone browser.  -->

<!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <script type="text/javascript" src="/js/compat/IE9-min.js"></script>
    <script src="/js/compat/excanvas-min.js" type="text/javascript"></script>
    <script src="/js/compat/ie-fixes-min.js" type="text/javascript"></script>
	<script src="/js/compat/XMLHttpRequest-min.js" type="text/javascript"></script>
<![endif]-->


    <!-- Google analytics support -->
    <script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-19037711-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type =
'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
 })();
</script>


    <!-- dynamic script loading -->
    <script src="/js/loadScript-min.js" type="text/javascript"></script>


    <!-- JQuery -->
    <script src="/js/jquery/jquery-1.3.2-min.js" type="text/javascript"></script>
    <script src="/js/jquery/jquery-ui-1.8.24.min.js" type="text/javascript"></script>

    <!-- Google JavaScript API -->
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad" type="text/javascript"></script>

    <!-- Load the Google API. LoadPicker is defined in editor.js -->
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>

    <!-- JQuery UI style sheet -->
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css"/>


    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/pretty-printing.css" />

    <!-- EasyXDM and json -->
    <script src="/js/easyXDM/easyXDM-min.js" type="text/javascript"></script>
    <script type="text/javascript">
      easyXDM.DomHelper.requiresJSON("/js/easyXDM/json2-min.js");
    </script>


    <script src="/safeSubmit-min.js" type="text/javascript"></script>

    <script src="/js/flapjax-2.0.1.compressed-min.js" type="text/javascript"></script>
    <script src="/js/flapjax-helpers-min.js" type="text/javascript"></script>
    <script src="/js/jquery/jquery.createdomnodes-min.js" type="text/javascript"></script>
    <script src="/js/jquery/jquery.center-in-client-min.js" type="text/javascript"></script>
    <script src="/js/jquery/jquery.blockUI-min.js" type="text/javascript"></script>

    <script src="/js/codemirror/lib/codemirror-min.js" type="text/javascript"></script>
    <script src="/js/codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>
    <script src="/js/codemirror/addon/edit/closebrackets-min.js" type="text/javascript"></script>
    <script src="/js/codemirror/addon/runmode/runmode.js" type="text/javascript"></script>
    <script src="/js/codemirror-contrib/scheme2/scheme2-min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/css/codemirror.css" />
    <link rel="stylesheet" type="text/css" href="/js/codemirror/lib/codemirror.css"></link>
    <link rel="stylesheet" type="text/css" href="/js/codemirror-contrib/scheme2/schemecolors.css"></link>

    <link rel="stylesheet" type="text/css" href="/css/definitions.css"></link>

    <!-- Design recipe widget stuff -->
    <script src="/widget/js/DRwidget.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/widget/css/editor.css"></link>


    <script src="/js/submitpost-min.js" type="text/javascript"></script>

    <!-- mzscheme-vm evaluator -->
    <script src="/js/mzscheme-vm/support-min.js" type="text/javascript"></script>
    <script src="/js/mzscheme-vm/evaluator-min.js" type="text/javascript"></script>


    <!-- Local compiler files -->
    <script src="/js/compiler/compiler-calc-min.js" type="text/javascript"></script>

    <script src="/js/openEditor/openEditor-calc-min.js" type="text/javascript"></script>


    


    <script type="text/javascript">
      function setup() {
          var userName, pid, publicId,
              hideHeader, hideToolbar,
              hideProjectName,
              hideFooter, hideDefinitions, hideInteractions,
              warnOnExit, interactionsText, definitionsText, autorunDefinitions, isEmbedded, noColorError;
          userName = pid = publicId = interactionsText = definitionsText = null;
          hideDefinitions = false;
          hideInteractions = false;
          autorunDefinitions = false;
          hideHeader = false;
          hideToolbar = false;
          hideProjectName = false;
          hideFooter = false;
          warnOnExit = true;
          isEmbedded = false;
          noColorError = false;

          userName = "luke_west@alumni.brown.edu@gmail.com";

          

          

          

          

          

          

          

          

          

          


          
      	  


          
          isEmbedded = false; // expose it on the JavaScript side too.


          


              initializeEditor({userName: userName,
                            pid : pid,
                            publicId: publicId,
      	                    hideHeader: hideHeader,
      	                    hideToolbar: hideToolbar,
      	                    hideProjectName: hideProjectName,
      	                    hideFooter: hideFooter,
      	                    hideDefinitions: hideDefinitions,
      	                    hideInteractions: hideInteractions,
      	                    warnOnExit: warnOnExit,
      	                    initialInteractionsText: interactionsText,
      	                    initialDefinitionsText: definitionsText,
      	                    autorunDefinitions: autorunDefinitions,
                            noColorError: noColorError });

              var widget = initializeWidget(myEditor.defn.impl.editor,
                                        myEditor.getTokenizer());
              document.getElementById("recipe").addEventListener('click', (e) => {
                e.preventDefault();
                e.stopPropagation();
                var codeUpToCursor = myEditor.defn.getCode(0, myEditor.defn.getCursorStartPosition());
                // don't let the user start the DR if the cursor is inside an expression
                if(plt.wescheme.tokenizer.hasCompleteExpression(codeUpToCursor)){
                  widget.showWidget();
                } else {
                  alert("You cannot start the Design Recipe widget when your cursor is inside another expression.");
                  myEditor.defn.focus();
                }
            });
        }

      jQuery(function() {
        var viewportWidth = jQuery(window).width();
        var viewportHeight = jQuery(window).height();
        var something = jQuery("#documentation").dialog({
          autoOpen: false,
          title: "Documentation",
          position: "right",
          minWidth: viewportWidth / 4,
          minHeight: viewportHeight / 2,
          width: viewportWidth / 3,
          height: viewportHeight * .9,
          beforeclose: function() {
            jQuery(this).dialog('option', 'position', [jQuery(this).parent().offset().left, jQuery(this).parent().offset().top]);
            }
        });
      });
    </script>
  </head>

  <body onload="setup()">
    <div id="editor">
      <div class="top" id="top">

      <!-- The dialog div here will be used by jquery -->
      <div id="dialog" style="display:none;"></div>

      <!-- The Design Recipe Widget -->
      <div id="design-recipe-form" style="position: absolute; left: -1000px; z-index: 10; visibility: hidden;">
        <div class="section" id="design-recipe-contract">
                <div id="design-recipe-contract_wrapper">
                  <span class="spacer" style="width: 15px;">;</span>
                  <textarea id="design-recipe-name"></textarea>
                  <span>:</span>
                  <textarea id="design-recipe-domain"></textarea>
                  <span>-></span>
                  <textarea id="design-recipe-range"></textarea>
                </div>
                <span class="error" id="design-recipe-contract_error"></span>
        </div>
        <div class="section" id="design-recipe-examples">
          <div id="design-recipe-example1_wrapper">
            <span class="spacer notranslate">(EXAMPLE </span>
            <div class="indent-wrapper">
              <textarea id="design-recipe-example1_header"></textarea>
              <textarea id="design-recipe-example1_body"></textarea>
              <span class="spacer">)</span>
            </div>
          </div>
          <span class="error" id="design-recipe-example1_error"></span>
          <hr/>
          <div id="design-recipe-example2_wrapper">
            <span class="spacer notranslate">(EXAMPLE </span>
            <div class="indent-wrapper">
               <textarea id="design-recipe-example2_header"></textarea>
             <textarea id="design-recipe-example2_body"></textarea>
             <span class="spacer">)</span>
            </div>
          </div>
          <span class="error" id="design-recipe-example2_error"></span>
        </div>
        <div class="section" id="design-recipe-definition">
          <div id="design-recipe-definition_wrapper">
            <span class="spacer notranslate">(define </span>
            <div class="indent-wrapper">
              <textarea id="design-recipe-definition_header"></textarea>
              <textarea id="design-recipe-definition_body"></textarea>
              <span class="spacer">)</span>
            </div>
          </div>
          <span class="error" id="design-recipe-definition_error"></span>
        </div>

        <div class="toolbar">
                <input type="button"
                       id="design-recipe-insertCode"
                       class="button"
                       value="Insert"
                       style="float: right; color: black;"/>
          <input type="button" id="design-recipe-cancel" class="button" value="Cancel" style="float: left;" />
        </div>
      </div>

      <!-- Header at the top of the page -->
      <div id="Tools" role="region" aria-label="Tools" tabindex="-1">
      	<div id="Navigation">
          <h2 class="screenreader-only">Navigation</h2>
          <ul style="margin: 0px; padding: 0px;">
            <li><a  class="h1" href="/" title="WeScheme Homepage"
                role="button" aria-label="Back to WeScheme Homepage"
                style="text-decoration: none; color: white;">WeScheme :: </a></li>
            <li><a  class="h2" href="doc/wescheme.html"
                role="button" aria-label="Show Documentation" 
                id="docs" target="_docs">Documentation</a></li>
      	    
                  <li><a  class="h2" role="button"  id="account" 
                      href="/console" target="console"
                      aria-label="Go to program list">Programs</a></li>
                  <li><a  class="h2" role="button"  id="logout" href="javascript: void(0)"
                      aria-label="Log out of WeScheme and other Google services">Logout</a></li>
      	    
            </ul>
      	</div>

      	<div id="ProgramControls">
          <h2 class="screenreader-only">Program Controls</h2>
      	  <ul>
      	    <li><a role="button" href="javascript: void(0)" aria-label="Run, F7"  id="run"><span>Run</span></a></li>
      	    <li><a role="button" href="javascript: void(0)" aria-label="Stop, F8" id="stop"><span>Stop</span></a></li>
      	    
      	    <li><a role="button" href="javascript: void(0)" aria-label="Save" id="save"><span>
              
                    Save
              
            </span></a></li>
      	    <li><a role="button" href="javascript: void(0)" aria-label="Share, F9" id="share"><span>Share</span></a></li>
            <li><a role="button" href="javascript: void(0)" aria-label="Images" id="images"><span>Images</span></a></li>
      	    
            <li><a role="button" href="javascript: void(0)" aria-label="Open a Design Recipe Form" id="recipe"><span>Recipe</span></a></li>
      	  </ul>
      	</div>

      	<div id="FileControls">
          <h2 class="screenreader-only">File Controls</h2>
       	  <label id="filenamelabel" for="filename">Project name:</label>
      	  <input role="textbox" id="filename" type="text" aria-describedby="filenamelabel" style="width: 20%"/>
          <a role="button" href="javascript: void(0)" aria-label="Open Program Notes" id="updateNotes" class="clickableAnchor">
            <img src="/images/small-info.png"></a>
          <a role="button" href="javascript: void(0)" aria-label="Undo" id="undo" class="clickableAnchor"><img src="/images/undo.png"></a>
          <a role="button" href="javascript: void(0)" aria-label="Redo" id="redo" class="clickableAnchor"><img src="/images/redo.png"></a>
          <a role="button" href="javascript: void(0)" aria-label="Help" id="help" class="clickableAnchor" style="float: right;">
            <img src="/images/small-help.png"></a>
          <div id="statusbar" role="marquee" aria-relevant="text"></div>
      	</div>
      </div> 

      </div>
      <!--  End top -->

      <div id="middle" class="middle notranslate">
      	<div id="splitpane" class="goog-splitpane">
          <div  id="definitions" tabindex="-1" 
                class="goog-splitpane-first-container" 
                role="region" aria-label="Definitions">
            <h2 class="screenreader-only">Definitions</h2>
            <textarea id="defn"></textarea>
      	  </div>

      	  <div id="interactions" class="goog-splitpane-second-container">
      	    <div  id="inter" tabindex="-1" 
                  role="application" 
                  aria-label="Interactions">
              <h2 class="screenreader-only">Interactions</h2>
      	      <div style="width: 100%; height:100%">
                <span>&gt;&nbsp<input id="inputBox" style="width: 75%;height:100%" type="text"/></span>
              </div>
      	    </div>
      	  </div>

      	  <div class="goog-splitpane-handle" aria-role="separator" aria-orientation="vertical" aria-label="divider"></div>
      	</div>
      </div>
      <!-- End middle -->

      <div id="bottom" class="bottom">
        <!-- all spoken events should be logged here -->
        <div id="announcements" role="region" aria-label="Announcements" tabindex="-1" 
             class="screenreader-only" >
          <h2>Announcements</h2>
          <ul id="announcementlist" aria-live="assertive" aria-relevant="additions"
              style="list-style: none;">
          </ul>
        </div>
      </div>
      <!-- end bottom -->

    </div> <!-- end editor -->

    <div id="helpDialog" tabindex="-1">
      <h1>WeScheme Help</h1>
      <p>
      Welcome to WeScheme! This help window can be turned on and off by clicking the <img alt="help" src="/images/small-help.png"> icon in the toolbar, or by typing <kbd aria-label="Control question mark">Ctrl-?</kbd> (or <kbd aria-label="Command question mark">Cmd-?</kbd> on a mac). You can also hide this window by clicking on it.
      <p>
      <p>
      <div class="shortcutGroup" tabindex="-1">
        <h2>Everywhere</h2>
        <ul class="shortcuts">
          <li>Run - <kbd>F7</kbd></li>
          <li>Stop - <kbd>F8</kbd></li>
          <li>Share - <kbd>F9</kbd></li>
          <li>Help - <kbd aria-label="Control question mark">Ctr-?</kbd></li>
          <li>Switch Focus - <kbd>F6</kbd></li>
        </ul>
      </div>

      <div class="shortcutGroup" tabindex="-1">
        <h2>Definitions Only</h2>
        <ul class="shortcuts">
          <li>Indent Line - <kbd>Tab</kbd></li>
          <li>Indent All - <kbd aria-label="Control Tab">Ctrl-Tab</kbd></li>
        </ul>
      </div>

      <div class="shortcutGroup" tabindex="-1">
        <h2>Interactions Only</h2>
        <ul class="shortcuts">
          <li>Previous Entry - <kbd>Alt-Up</kbd></li>
          <li>Next Entry - <kbd>Alt-Down</kbd></li>
          <li>Speak History - <kbd>Alt-1</kbd>, <kbd>Alt-2</kbd>, etc</li>
        </ul>
      </div>
    </div>

    <!-- invisible form for error logging from the local processor -->
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
    <form method="post"
          action="https://docs.google.com/a/bootstrapworld.org/forms/d/1qd7swEkFgVBsudpAFsEJnrjDDCQOMPTICQ2NgraVrOw/formResponse"
          name="theForm" 
          id="errorLogForm" 
          target="hidden_iframe" 
          id="GoogleForm"
          style="display:none;">
          <textarea name="entry.1936827156" id="expr"/>default_code</textarea>
          <textarea name="entry.1976503423" id="local">default_localError</textarea>
          <textarea name="entry.224419714" id="server">default_serverError</textarea>
          <textarea name="entry.234335861" id="diffString"></textarea>
          <input type="button" value="Submit" class="submit"/>
    </form>
  </body>




  <script type="text/javascript">
    
  </script>


</html>
